.row {
    display: flex;
    /* maximaize the space between this flex element*/
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 20px;

}

.row_label {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.question{

    margin: auto;
    padding: 10px;

}

.center{
    width:30%;
    margin: auto;
    padding: 10px;

}

.radio_question{
    display: flex;
}

.input_question{
    display: flex;
    width: 75%;

}


